body {
    background-color: #EFEFEF;
    color: #555555;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#search-input{
    width: 100%;
}

/* navbar */

.navbar-dark .navbar-brand {
	color: #F65858;
}

.navbar-dark .navbar-brand:hover {
	color: #F65858;
	opacity: 0.7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-brand i {
	margin: 0;
	margin-right: 3px;
	padding: 0;
	font-size: 30px;
	top: -2px;
	position: relative;
}

/* caraousel */

.carousel {
    margin-bottom: 30px;
} 

.carousel-img {
	opacity: 0.7;
    position: relative;
    padding-top: 35%;
}

.carousel-img div{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0

}

.carousel-item {
	background-color: #343a40;
}

.carousel-caption {
	text-shadow: 2px 1px #404040;
}

.navbar-collapse input {
	height: 30px;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	font-size: 14px;
}

/* auto complete */

ul.ui-menu {
    background-color: #fff;
    width: 200px;
    border: 1px solid #404040;
    padding: 0;
}

ul.ui-menu li {
    list-style: none;
    padding: 2px;
    border-bottom: 1px solid #343A40;
}

ul.ui-menu li div:nth-child(1){
    width: 50px;
    height: 50px;
    background-color: #343A40;
    font-size: 14px;
}

ul.ui-menu li div:nth-child(2){
    padding-top: 8px;
    padding-left: 8px;
    width: calc(100% - 50px);
    font-size: 12px;
    overflow: hidden;
}

ul.ui-menu li span:nth-child(1){
    font-weight: bold;
    display: block;
    white-space: nowrap;
}

ul.ui-menu li span:nth-child(2){
    font-style: italic;
    white-space: nowrap;
}

ul.ui-menu li:hover{
	background-color: #F65858;
	color: #FFFFFF;
}

.working{
	background: url(../ring.gif) no-repeat right 15px center;
}

.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
} 

/* card */

.card {
    overflow: hidden;
    margin-bottom: 24px;
    white-space: nowrap;
    width: 100%;
}

.card .cover {
    width: 100%;
    display: block;
}

.card h3 {
    font-size: 16px;
    line-height: 19px;
    margin: 10px;
    margin-bottom: 0px;
    display: block;
}

.card span {
    margin: 10px;
    margin-top: 0px;
    font-size: 12px;
    font-style: italic;
    display: block;
}

/* heading */

.heading {
    margin-bottom: 24px;
}

.heading h2{
    line-height: 34px;
    padding: 0;
    margin: 0;
    font-size: 28px;
}

.heading span{
    font-size: 16px;
    line-height: 19px;
}

.heading a {
    background-color: #F65858;
    font-size: 14px;
    padding: 10px;
    display: block;
    color: #fff;
    max-width: 60px;
    text-align: right;
}

/* etc */

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(246, 88, 88, 0.6);
}

.col-sm.half{
    width: 50%;
}

/* responsive */

@media (max-width: 575px) {
    /* card */

    .col-sm.half .card .cover{
        position: relative;
        padding-top: 120%;
        min-height: 160px;
    }

    .card .cover div{
        position: relative;
        height: 100%;
        top: 0;
        left: 0
    }
}

@media (min-width: 576px) {


    /* card */

    .card {
        width: 240px;
    }

    .card .cover {
        height: 288px;
    }
}

@media (min-width: 768px) {

    /* heading */

    .heading a {
        max-width: 100px;
        text-align: left;
    }

    /* card */

    .card {
        width: 330px;
    }

    .card .cover {
        height: 396px;
    }
}

@media (min-width: 992px) {

    /* auto complete*/

    #search-input {
        max-width: 300px;
    }

    /* card */

    .card {
        width: 210px;
    }

    .card .cover {
        height: 252px;
    }
}

@media (min-width: 1200px) {

    /* card */

    .card {
        width: 255px;
    }

    .card .cover {
        height: 306px;

    }
}